.App {
  text-align: center;
  height: 70vh;
  width: 100vw;
  background-color: #418CFF;
}

.wrapper {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.mid-icon {
  margin-top: -37px !important;
  border-radius: 50% !important;
  background-color: white !important;
}

.loader {
  margin-top: 5%;
}

.header {
  line-height: 2 !important;
  color: white !important;
  margin-bottom: 16% !important;
}
/* .MuiTabs-root-38 {
  background-color: #418CFF;
} */

.main1{
	height:200px;
	background-color: #418CFF;
	color:white;
	padding-top:50px;
}

.paper-card {
  position: absolute;
  height: 50vh;
  margin-top: 250px;
  line-height: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.paper-broadcast {
  position: absolute;
  height: 70vh;
  margin-top: 300px;
  line-height: 1.5rem;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.email-text {
  width: 100%;
}

.email-form {
  width: 80%;
}

.header-email {
  color: #418CFF !important;
  margin-top: -1rem !important;
}

.extra-tags {
  margin-top: 10px;
  display: flex;
  flex-flow: row;
}

.country-list {
  min-width: 100% !important;
}

.header-search {
  line-height: 2 !important;
  color: white !important;
}